.open-sans-bodyfont {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.btn-primary {
    border: 0;
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    width: 150px;
    height: 64px;
    border-radius: 5px;
}

.btn-secondary {
    background-color: #FFF8F3;
    border: 2px solid #FD6E0A;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
}

/* header style  */
header {
    background-color: #FFF8F3;
    height: 830px;
    background-image: url(./images/developer.png), url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav styels  */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h3 {
    color: #181818;
    font-weight: 800;
    font-size: 45px;
}

nav h3 span {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}

.header-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}


.header-banner-info h3 {
    color: #474747;
    font-weight: 800;
    font-size: 45px;
}

.header-banner-info h2 {
    color: #181818;
    font-weight: 700;
    font-size: 85px;
}

.header-banner-info p {
    width: 580px;
    color: #757575;
    font-weight: 400;
    font-size: 18px;
}

.header-banner-btn {
    display: flex;
    align-items: center;
}

.header-banner-btn button {
    margin-left: 20px;
}

/* about me section style  */

.about {
    width: 1140px;
    height: 550px;
    background-color: #FFF8F3;
    border-radius: 10px;
    /* height: 600px; */
    margin: 0 auto 0;
    margin-top: 130px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.about-content {
    width: 827px;
    border: 2px solid #000000;
    background-color: #FFFFFF;


}

.about-content h3 {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}

.about-content p {
    width: 800px;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}

.about-me-contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-me-contact div {}

.about-me-contact div h6 {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}

.about-me-contact div h5 {
    color: #474747;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}